body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff7eb;
}

header {
    background-color: #30502c;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: fadeIn 2s ease-out;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #f39c12;
}

section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    animation: slideIn 1.5s ease-out;
}

section h2 {
    color: #000000;
    margin-bottom: 15px;
    font-size: 24px;
    animation: fadeIn 2s ease-in;
}

footer {
    background-color: #2d502c;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    animation: fadeIn 2s ease-in;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
